<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'footer.css' %}">
  <title>Panama Blog Footer</title>
</head>
<body>

  <footer style="background-color: aqua;" class="footer">
      <div class="footer_row">
        <div class="footer-col">
          <ul>
            <h3>Hire Developers</h3>
            <li><a href="#">Hire Data Engineers</a></li>
            <li><a href='#'>Hire Java Developers</a></li>
            <li><a href='#'>Hire WordPress Developers</a></li>
            <li><a href="#">Hire PHP Developers</a></li>
            <li><a href="#">Hire AngularJS Developers</a></li>
            <li><a href="#">Hire iOS Developers</a></li>
            <li><a href="#">Hire Blockchain Developers</a></li>
            <li><a href="#">Hire Ruby On Rails Developers</a></li>
            <li><a href="#">See All</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <ul>
            <h3>Company</h3>
            <li><a href="#">About Us</a></li>
            <li><a href='#'>Our Top Vetted Developers</a></li>
            <li><a href='#'>How it Works</a></li>
            <li><a href="#">STEM Scholarship</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <ul>
            <h3>Informative</h3>
            <li><a href="#">Blog</a></li>
            <li><a href='#'>FAQ</a></li>
            <li><a href='#'>Hiring Interview Tips</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <ul>
            <h3>Contact Us</h3>
            <li><a href="#">+2347054786511</a></li>
            <li><a href='#'>+2343035867980</a></li>
            <li><a href='#'>mail@panamadevteam.space</a></li>
          </ul>
        </div>
        <div class="footer-col footer_last">
            <h3>Subscribe</h3>
            <p>10,000+ members</p>
            <p>Recieve the latest tech announcements and tutorials</p>
            <input type="email" name="email" id="email" placeholder="Email">
          </div>
      </div>
  </footer>
</body>
</html>