<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <!-- {% load static %}
  <link rel="stylesheet" href="{% static 'index.css'%}"> -->
  <title>Document</title>
</head>
<body>
  <!-- Header -->
  <!-- <div class="header container"> -->
    <!-- <h1 class="logo">Panama Blog</h1>
    <div class="navbar">
      <div class="container flex">
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="features.html">Blogs</a></li>
            <li><a href="docs.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div> -->
  <!-- <h1>Header</h1> -->

<!-- Start a blog -->
  <div class="startBlog_container">
    <div class="startBlog_container_leftSide">
      <h1>Why Panama Blog is the best choice for you</h1>
    </div>

    <div class="startBlog_container_rightSide">
      <article>
        <p>When you create a blog using out blog builder, everything is there to build your business the way you want. 
          Run it with a total peace of mind knowing that there is enterprise-grade infrastructure built into every site 
          with free reliable web hosting,  around-the-clock maintainance and fully managed security.  </p>
        <p>Use our tailor-made, customizable templates and 1000s of design features to help bring your vision to life. You can also add your own code for total design control.</p>
        <p>Bring more people to your site and convert visitorswith a wide range of built-in eCommerce and business solutions
          like SEO and marketing tools. Plus, you'll always have the support you need with 24/7 customer care.</p>
        <p>You can start by creating a free blog with Panama Blog. Over 220 million people worldwide have chosen us to grow online. You can, too</p>
        <button class="btn">Start a blog for free</button>
      </article>
    </div>
  </div>

  <!-- Join a network of curious mind -->
  <!-- <h1>Join a network of curious mind</h1> -->

  <!-- Create your space -->
  <div class="createSpace_container">
    <div class="createSpace_leftSide">
      <h1>How to create your space</h1>
      <p>Follow these 6 simple steps to create a blog today</p>
      <div class="createSpace_button">
        <button class="btn">Get Started</button>
        <a href="#">Learn More</a>
      </div>
    </div>
    <!-- <span class="red_margin"></span> -->
    <div class="createSpace_rightSide">
      <dl>
        <dt>1. Sign up for a free blog builder.</dt>
        <dd>Choose what kind of website you want to create.</dd>
        <dt>2. Customize a template or get a blog made for you.</dt>
        <dd>Choose your starting point.</dd>
        <dt>3. Drag and drop 1000s of design features.</dt>
        <dd>Add text, galleries, videos, vector art and more.</dd>
        <dt>4. get ready for business.</dt>
        <dd>Add an online store, booking system, members area and blog.</dd>
        <dt>5. Publish your website and go love.</dt>
        <dd>Start building your professional online presence.</dd>
        <dt>6. Drive traffic to your site.</dt>
        <dd>Use advanced SEO tools and intergrated marketing solutions.</dd>
      </dl>
    </div>
  </div>

  <!-- Check other blog sites -->
  {% load static %}
  <div class="blogSites_container">
    <div class="blogSites_leftside">
      <h1>Get inspired, gain new skills and see what's trending</h1>
      <button class="btn" style="border-radius: 2px solid black;">Explore the blog</button>
    </div>
    <div class="blogSites_rightside">
      <img src="{% static 'images/panama.png' %}"  width="370px" height="270px" />
      <img src="{% static 'images/panama.png' %}"  width="370px" height="270px" />
      <img src="{% static 'images/panama.png' %}"  width="370px" height="270px" />
      <img src="{% static 'images/panama.png' %}"  width="370px" height="270px" />
    </div>
    
  </div>

  <!-- <h1>Sign in / Sign up</h1> -->

  <!-- <h1>FAQs</h1> -->

<!-- <h1>Footer</h1> -->
  <!-- {% load static %}
  {% include 'footer.html' %} -->

</body>
</html>