<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'products.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="testimonials_head">
    <h1>Blog Sites</h1>
    <div class="testimonials">
      <div class="card card--bg-purple">
        <header class="card_header">
          <img src="{% static 'images/image-daniel.jpg' %}" />
          <div>
            <h3>Daniel Clifford</h3>
            <p>Verified Graduate</p>
          </div>
        </header>
        <p class="card_lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus consequatur veniam sed praesentium
          tenetur laudantium porro. Cum, officia obcaecati, quibusdam consequatur, molestiae voluptatibus minus aut ad eos
          nesciunt culpa.
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
      </div>
  
      <div class="card card--bg-gray-blue">
        <header class="card_header">
          <img src="{% static 'images/image-jeanette.jpg' %}" class="card_img" />
          <div>
            <h3>Jeanette Okafor</h3>
            <p>Verified Graduate</p>
          </div>
        </header>
        <p class="card_lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus consequatur veniam sed praesentium
          tenetur laudantium porro. Cum, officia obcaecati, quibusdam consequatur, molestiae voluptatibus minus aut ad eos
          nesciunt culpa.
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
      </div>
  
  
      <div class="card card--bg-black-blue">
        <header class="card_header">
          <img src="{% static 'images/image-jonathan.jpg' %}" class="card_img" />
          <div>
            <h3>Jonathan Lopex</h3>
            <p>Verified Graduate</p>
          </div>
        </header>
        <p class="card_lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus consequatur veniam sed praesentium
          tenetur laudantium porro. Cum, officia obcaecati, quibusdam consequatur, molestiae voluptatibus minus aut ad eos
          nesciunt culpa.
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
      </div>
  
      <div class="card card--bg-mustard">
        <header class="card_header">
          <img src="{% static 'images/image-kira.jpg' %}" class="card_img" />
          <div>
            <h3>Kira Gomez</h3>
            <p>Verified Graduate</p>
          </div>
        </header>
        <p class="card_lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus consequatur veniam sed praesentium
          tenetur laudantium porro. Cum, officia obcaecati, quibusdam consequatur, molestiae voluptatibus minus aut ad eos
          nesciunt culpa.
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
      </div>
  
      <div class="card card--bg-red">
        <header class="card_header">
          <img src="{% static 'images/image-patrick.jpg' %}" class="card_img" />
          <div>
            <h3>Patrick Melon</h3>
            <p>Verified Graduate</p>
          </div>
        </header>
        <p class="card_lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus consequatur veniam sed praesentium
          tenetur laudantium porro. Cum, officia obcaecati, quibusdam consequatur, molestiae voluptatibus minus aut ad eos
          nesciunt culpa.
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda quis
          mollitia placeat id esse ipsum maxime veritatis magni? Expedita eos autem iste quia maxime illo fugiat, magnam
          reiciendis deleniti ipsum amet!
        </p>
        <p class="card_quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tempora reiciendis debitis repellat, aut
          consequatur eius quasi soluta expedita veniam aperiam officia adipisci laborum, architecto at sit assumenda
          quis!
        </p>
      </div>
    </div>
  </div>
  
<div class="audience_connectivity">
  <h1>Audience Connectivity</h1>
</div>

<div class="email_subscription">
  <h1>Email Subscription</h1>
</div>

<div class="earn_money">
  <h1>Earn money from writing</h1>
</div>

<div class="custom_design">
  <h1>Custom Design</h1>
</div>

  {% include 'footer.html' %}
</body>
</html>






